/* NAMING */

#naming.state {
	text-align: center;
}

button#namingDone {
	margin-top: 5px;
}


/* COUNTING */

#counting.state {
	position: absolute;
	width: 100%;
	height: 100%;
}

#count > h1 {
	font-size: 75vmin;
}


/* PLAYER NAMES */

.playingNames {
	position: absolute;
	bottom: 0;
	width: 70%;
}

.name.yourName {
	left: 0;
	text-align: left;
}

.name.theirName {
	right: 0;
	text-align: right;
}

.name {
	position: absolute;
	bottom: 0;
	width: 40%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	/* So that the text-shadow doesn't get cut off */
	padding-bottom: 5px;
}

.vs {
	height: 8vmin;
	width: 8vmin;
	color: white;
	font-size: 6vmin;
	background-color: #CC99FF;
	border: 1px white;
	border-radius: 4vmin;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translate(-50%, 0);
}

/* Resize the layout for smaller screens */
@media (max-width: 600px) {
	.name.yourName {
		left: 8vmin;
		bottom: 10vmin;
		width: 100%;
	}

	.name.theirName {
		left: 8vmin;
		text-align: left;
		width: 100%;
	}

	.vs {
		left: 0;
		transform: none;
		bottom: 5vmin;
	}
}


/* PLAYING */

@keyframes playingBackgroundFrames {
	0%, 50%, 100%	{ transform: rotate(90deg) scale(1,1); }
	25%				{ transform: rotate(85deg) scale(1.2, 1.2); }
	75%				{ transform: rotate(95deg) scale(1.2, 1.2); }
}

#playingBackground {
	position: absolute;
	/*
	 This height and width provides enough room for #playingBackground
     to rotate but still completely cover the viewport.
     */
	height: 142vmax;
	width: 142vmax;

	/* Rotate it so the background is scrolling from top to bottom. */
	transform: rotate(90deg);

	animation-name: playingBackgroundFrames;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#playing.state {
	background-color: white;
	width: 100%;
	height: 100%;
	position: absolute;
}

#flash {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #ffffcc;
	display: none;
	opacity: 0.7;
}

#gameContainer {
	height: 40vmax;
	width: 40vmax;
	max-width: 100%;
	max-height: 100%;
}

#theirHand {
	height: 15vmax;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	right: 0;
	bottom: 25%;
}

#yourHand {
	height: 20vmax;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

#clickCover {
	width: 100%;
	height: 100%;
	position: absolute;
}

#gameOverBanner {
	text-align: center;
	width: 100%;
	background-color: #fff;
}

#gameOverBanner h1 {
	margin: 0;
}

button#playAgain {
	position: absolute;
	top: 110%;
	font-size: 5vmin;
}