html {
	font-family: sans-serif;
}

h1 {
	font-size: 15vmin;
	color: #CC99FF;
	font-weight: bold;

	/* Adding multiple shadows to make 3D text */
	text-shadow:
		0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
		0 20px 30px rgba(0,0,0,.5);
}

h2 {
	font-size: 10vmin;
	color: #CC99FF;
	font-weight: bold;

	/* Adding multiple shadows to make 3D text */
	text-shadow:
		0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
		0 20px 20px rgba(0,0,0,.15);
}

h3 {
	font-size: 8vmin;
	color: #615865;

	/* Adding multiple shadows to make 3D text */
	text-shadow:
		0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa;
}

.banana {
	height: 40vmax;
	max-width: 100%;
	max-height: 100%;
}

.hidden {
	display: none;
}


/* PAGE */

.page {
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.tint {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
}


/* BUTTON */

button {
	font-size: 6vmin;
	background-color: #CC99FF;
	color: #FFF;
	border: 1px solid black;
	padding: 1vmax;
}

button:hover {
	box-shadow: inset 0 0 5px white;
	border: 1px solid white;
}

button.back {
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 1px;
	font-size: 5vmin;
}


/* INPUT */

input {
	font-size: 6vmin;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}


/* MODIFIERS */

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centeredX {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.centeredY {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}


/* CLOUD BACKGROUND
    Background div used to display clouds moving accross the screen.
    An animating background isn't used because browsers currently
    don't GPU optimize such animations.
*/

@keyframes cloudMovement {
	/* Move 400px because thats the size of the repeating background */
	0%		{ transform: translate(-400px, 0); }
	100%	{ transform: translate(0, 0); }
}

.clouds {
	position: absolute;
	/* width is twice the size of the repeating background */
	width: 200%;
	min-width: 800px;
	height: 100%;

	background-image: url(../assets/clouds.svg);
	background-size: 400px 400px;
	background-position: 0px 0px;
	background-repeat: repeat;

	animation: cloudMovement 10s linear infinite;
}


/* MENU */

#title {
	position: absolute;
	top: 8vh;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

#menuButtons {
	position: absolute;
	bottom: 10vh;
	left: 50%;
	transform: translate(-50%, 0);
	white-space: nowrap;
}

button#menuToGame {
	font-size: 10vmin;
}


/* HELP */

#helpModal {
	font-size: 7vmin;
	background-color: white;
	width: 80%;
	max-width: 80vmin;
	box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.75);
	text-align: center;
	padding: 10px;
	display: none;
}


/* STORY */

#storyContent {
	width: 80%;
	height: 100%;
	overflow: scroll;
	margin: 0 auto;
	padding: 0 20px;
	box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.75);
	background-color: white;
	position: relative;
}

#storyTitle {
	width: 100%;
	text-align: center;
	font-size: 10vh;
	color: #CC99FF;
}

/* GAME */

#naming.state {
	text-align: center;
}

button#namingDone {
	margin-top: 5px;
}

.count > h1 {
	font-size: 75vmin;
}

#gameContainer {
	height: 40vmax;
	width: 40vmax;
	max-width: 100%;
	max-height: 100%;
}

#theirFist {
	height: 15vmax;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	right: 0;
	bottom: 25%;
}

#yourFist {
	height: 20vmax;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

#playingNames {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 70%;
}

#myName {
	position: absolute;
	left: 0;
	bottom: 0;
}

#theirName {
	position: absolute;
	right: 0;
	bottom: 0;
}

#playingNames h1 {
	margin: 10px;
}

#clickCover {
	width: 100%;
	height: 100%;
	position: absolute;
}

#gameOverBanner {
	text-align: center;
	width: 100%;
	background-color: #fff;
}

#gameOverBanner h1 {
	margin: 0.2em;
}

button#playAgain {
	position: absolute;
	top: 110%;
	font-size: 5vmin;
}