#title {
	position: absolute;
	top: 8vh;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

#menuButtons {
	position: absolute;
	bottom: 10vh;
	left: 50%;
	transform: translate(-50%, 0);
	white-space: nowrap;
}

button#menuToGame {
	font-size: 10vmin;
}


/* HELP */

#helpModal {
	width: 80%;
	max-width: 80vmin;
	padding: 10px;
	text-align: center;
	font-size: 7vmin;
	background-color: white;
	box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.75);
	display: none;
}

.tint {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
}